.header .navbar {
  padding: 0;
}
.header {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.header .navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}
.header .navbar #collapsibleNavbar .nav-item .nav-link {
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 15px 20px;
  line-height: 26px;
  opacity: 0.6;
}

.header .navbar #collapsibleNavbar .nav-item .active {
  opacity: 1;
}
